.App {
  text-align: center;
}

.App-header {
  background-color: rgb(253, 253, 236);
  font-size: calc(10px + 2vmin);
  color: black;
  font-family: monospace;
  transition-duration: 700ms;
  transition-timing-function: ease-in;
  transition-delay: 100ms;
}

.App-header-dark {
  background-color: #282c34;
  color: white;
  text-shadow: 0 0 3px rgba(0, 0, 0, .8), 0 0 5px rgba(0, 0, 0, .9);
  font-size: calc(10px + 2vmin);
  font-family: monospace;
  transition-duration: 700ms;
  transition-timing-function: ease-out;
  transition-delay: 100ms;
}

.App-link {
  color: #61dafb;
  text-decoration: none;
}

.App-link:hover {
  color: #61dafb;
  text-decoration:underline;
  cursor: pointer;
}

.fa-moon {
  color: white;
}

.fa-sun {
  color:gold;
}

@media (max-width: 468px){
  .label{
    width:40px;
  }
  .ball{
    width: 15px;
  }

  .fa-moon {
    width: 10px;
  }
  
  .fa-sun {
    width: 10px;
  }
}



